
b > magenta,
magenta > b,
magenta > bold,
bold > magenta {
  color: #ff55ff;
}
b > green,
green > b,
green > bold,
bold > green {
  color: #55ff55;
}
b > blue,
blue > b,
blue > bold,
bold > blue {
  color: #5555ff;
}
b > yellow,
yellow > b,
bold > yellow,
bold > yellow {
  color: #ffff55;
}
b > red,
red > b,
red > bold,
bold > red {
  color: #ff5555;
}
b > cyan,
cyan > b,
cyan > bold,
bold > cyan {
  color: #55ffff;
}
b > white,
white > b,
white > bold,
bold > white {
  color: #ffffff;
  font-weight: 800;
}
b > black,
black > b,
black > bold,
bold > black {
  color: #555555;
}
magenta {
  color: #aa00aa;
}
green {
  color: #00aa00;
}
blue {
  color: #0000aa;
}
yellow {
  color: #aaaa00;
}
red {
  color: #aa0000;
}
cyan {
  color: #00aaaa;
}
white {
  color: #aaaaaa;
}
black {
  color: #000000;
}
bgmagenta {
  background: #aa00aa;
}
bggreen {
  background: #00aa00;
}
bgblue {
  background: #0000aa;
}
bgyellow {
  background: #aaaa00;
}
bgred {
  background: #aa0000;
}
bgcyan {
  background: #00aaaa;
}
bgwhite {
  background: #aaaaaa;
}
bgblack {
  background: #000000;
}
