* {
  box-sizing: border-box;
  /* font-family: "Courier New", Courier, monospace; */
  /* font: Inconsolata, monospace; */
  overflow: hidden;
}

.app-container {
  display: flex;
  width: 100vw;
}
.left-pane {
  /* width: 30%; */
  /* min-width: 200px; */
  max-width: 30%;
  color: white;
  background: #444;
  flex: 1 1 auto;
}
.middle-pane {
  /* min-height: 100vh; */
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: column;
  min-width: 500px;
  max-width: 800px;

  /* align-items: stretch; */
  flex: 0 0 auto;
}
.right-pane {
  /* width: 30%; */
  /* min-width: 200px; */
  max-width: 30%;
  background: #444;
  flex: 1 1 auto;
}

.font-size-container {
  color: white;
  position: relative;

  right: 0px;
  top: 0;
  /* width: 200px; */
  margin: 0;
}
.font-size-button {
}

#input {
  flex: 0 0 auto;
  /* max-width: 100vw; */
  height: 38px;
  border-top: 1px white solid;
  background: black;
  color: white;
  /* position: relative; */
  width: 100%;
  /* left: 0;
  bottom: 0; */
}

#form-input {
  height: 38px;
  display: flex;
}

#keyboard-input {
  padding-left: 15px;
  font-size: 24px;
  border: none;
  display: block;
  color: white;
  background: black;
  width: 100%;
}

#button-input {
  width: 75px;
  background: rgb(126, 3, 3);
  border: none;
  color:white;
  font-weight: 500;
  font-size: 18px;
}
#button-input:hover {
  background: red;
  border: 2px black solid;
}


b > magenta,
magenta > b,
magenta > bold,
bold > magenta {
  color: #ff55ff;
}
b > green,
green > b,
green > bold,
bold > green {
  color: #55ff55;
}
b > blue,
blue > b,
blue > bold,
bold > blue {
  color: #5555ff;
}
b > yellow,
yellow > b,
bold > yellow,
bold > yellow {
  color: #ffff55;
}
b > red,
red > b,
red > bold,
bold > red {
  color: #ff5555;
}
b > cyan,
cyan > b,
cyan > bold,
bold > cyan {
  color: #55ffff;
}
b > white,
white > b,
white > bold,
bold > white {
  color: #ffffff;
  font-weight: 800;
}
b > black,
black > b,
black > bold,
bold > black {
  color: #555555;
}
magenta {
  color: #aa00aa;
}
green {
  color: #00aa00;
}
blue {
  color: #0000aa;
}
yellow {
  color: #aaaa00;
}
red {
  color: #aa0000;
}
cyan {
  color: #00aaaa;
}
white {
  color: #aaaaaa;
}
black {
  color: #000000;
}
bgmagenta {
  background: #aa00aa;
}
bggreen {
  background: #00aa00;
}
bgblue {
  background: #0000aa;
}
bgyellow {
  background: #aaaa00;
}
bgred {
  background: #aa0000;
}
bgcyan {
  background: #00aaaa;
}
bgwhite {
  background: #aaaaaa;
}
bgblack {
  background: #000000;
}
