body::after {
  content: "";
  background: url("img/fabric.jpg");
  filter: grayscale(100%) brightness(15%);
  background-size: contain;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 1024px;
}
html {
  scroll-behavior: smooth;
}



b > magenta,
magenta > b,
magenta > bold,
bold > magenta,
.channel-gossip {
  color: #ff55ff;
}
b > green,
green > b,
green > bold,
bold > green {
  color: #55ff55;
}
b > blue,
blue > b,
blue > bold,
bold > blue {
  color: #5555ff;
}
b > yellow,
yellow > b,
bold > yellow,
bold > yellow {
  color: #ffff55;
}
b > red,
red > b,
red > bold,
bold > red,
.channel-tell {
  color: #ff5555;
}
b > cyan,
cyan > b,
cyan > bold,
bold > cyan,
.channel-clantalk,
.channel-say,
.channel-racial {
  color: #55ffff;
}
b > white,
white > b,
white > bold,
bold > white {
  color: #ffffff;
  font-weight: 800;
}
b > black,
black > b,
black > bold,
bold > black {
  color: #555555;
}
magenta,
.channel-shout,
.channel-auction,
.channel-music,
.channel-pray {
  color: #aa00aa;
}
green {
  color: #00aa00;
}
blue {
  color: #0000aa;
}
yellow,
.channel-questtalk {
  color: #aaaa00;
}
red {
  color: #aa0000;
}
cyan,
.channel-ftell,
.channel-wiznet {
  color: #00aaaa;
}
white {
  color: #aaaaaa;
}
black {
  color: #000000;
}
bgmagenta {
  background: #aa00aa;
}
bggreen {
  background: #00aa00;
}
bgblue {
  background: #0000aa;
}
bgyellow {
  background: #aaaa00;
}
bgred {
  background: #aa0000;
}
bgcyan {
  background: #00aaaa;
}
bgwhite {
  background: #aaaaaa;
}
bgblack {
  background: #000000;
}
